
.section_wrapper{
	text-align:left;
}

a:link,a:visited {
color: #646464;
text-decoration: none;
outline: none;
}

a:hover {
color: #646464;
text-decoration: underline;
outline: none;
}

list_featured h3 {
display: block;
font-size: 11px;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: normal;
}

.clear,#clear{
  clear: both;
  line-height: 0;
  font-size: 0;
  height: 0
}
.divSwrapper{
  margin: 0 auto;
  padding: 0px;
  width: 960px;
  border: 0px solid #fff;
  min-height: 500px;

}
.header{
  margin: 0 auto;
  padding: 0px;
  border: 0px solid #000;
}

.center {
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: left;
  min-height: 400px;

}
.blog {
  width: 960px;
  margin: 0 auto;
  text-align: left;

}
.artial_top {
  /*background: url(images/box_main/top.png) no-repeat;*/
  height: 17px;
  font-size: 1px;
}
.content_blog {
  /*background: url(images/box_main/middle.png) repeat-y;*/
  line-height: 150%;
  padding: 0px 15px;
  margin: 0px;
  min-height: 400px;
}
.content_blog h3 {
  margin: 0px;
  font-size: 12px;
}


.artial_bottom {
  /*background: url(images/box_main/bottom.png) no-repeat;*/
  height: 17px;
  font-size: 1px;
  margin-bottom: 30px;
}

.sitepath_main {
  background: url(images/hungphu/line.gif) bottom repeat-x;
  padding: 0px 0px 0px;
  margin-bottom: 20px;
  color: #6A84B9;
}
.sitepath a:link,.sitepath a:visited {
  color: #6A84B9;
  font-size: 13px;
  text-decoration: none;
}

.sitepath a:hover {
  color: #6A84B9;
  text-decoration: none;
}

.box_main_header {
  font-size: 25px;
  color: #6A84B9;
  margin-bottom: 20px;
  line-height: 150%;
  border-bottom: 5px solid #ccc;
}

#extranews, .extranews {
    border: 0 solid #999999;
    border-radius: 6px 6px 6px 6px;
    display: block;
    margin: 15px 0 0;
}
#extranews legend, .extranews legend, .title_other {
    border-bottom: 2px solid #498CFD;
    color: #114A51;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
}

.item_other a:link, .item_other a:visited {
    color: #0f96dc;
    text-decoration: none;
    background: url(images/hungphu/icon_new.jpg) 5px 7px no-repeat;
    padding: 0px 20px 0px;
}
.item_other {
  padding: 2px 0px 2px;
}
.item_other a:hover {
    text-decoration: none;
    background: url(images/hungphu/icon_new_hover.jpg) 5px 7px no-repeat;
    padding: 0px 20px 0px;
    color:#565656;
}
.flashbaner {
  width: 100%;
  border: 0px solid red;
  position: relative;
  overflow: hidden;
}

.pro_c  {
  line-height: 160%;
  text-align: justify;
  font-size: 13px;
}

.content_menu{
  height: 165px;
  width:980px;
  margin: 0 auto;
  border: 0px solid red;
  text-align: left;
}/********************/

.logo {
  height: 130px;
  text-align: center;
  margin-top: 0px;
  border: 0px solid #000;
  width:200px;
  float: left;
  margin-top: 5px;

}
.flashmain {
  float: right;
  width: 700px;
  height: 90px;
  margin-top: 3px;
  border: 0px solid #fff;
}

.header_menu
{
  float: left;
  width: 60%;
}

.header_search
{
  float: right;
  width: 32%;
  padding-top: 5px;
}

ul#header_links{width:auto;float:left;margin-top:10px;}
#header_links li#header_link_home{margin-left:0}
#header_links li{width:auto;float:left;margin-left:8px;padding:0 0 0 8px;}
#header_links li a{font-weight:400;font-size:12px;line-height:16px;color:#808080; text-decoration: none;}
#header_links li a:hover,#header_links li a.active{color:#000;text-decoration:none}
#header_links li#header_link_home{background:none;padding:0}

.codespot_staticblock_header{width:100%;clear:both;padding:10px 0px 25px;text-align:left;color:#464646;font-size:14px;font-family:"Georgia"; height: 40px; line-height: 150%;}


#left_column {
	float: left;
	width: 210px;
	overflow: hidden;
    min-height: 200px;
    border: 0px solid #000;
    margin-top: 20px;

}
.feedback{position:fixed;top:40%;right:0}

#center_column {
  float: right;
  width:730px;
  min-height: 200px;
  border: 0px solid #000;
  margin-top: 10px;
  padding: 0px; !impostant
}

div.block {
	margin-bottom: 40px;
	width: 210px;
    padding-bottom: 5px;
}



div.block h4 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #323232;
    border-bottom:1px solid #1e1e1e;
    padding-bottom:7px;
    margin-bottom:10px;

}
div.block h4 a { color: #323232 }
div.block ul { list-style: none }
div.block ul.tree li { padding-left: 1.2em }
div.block a:hover { text-decoration: none;color:#6A84B9 }
#left_column div.block .block_content a.button_large,
#right_column div.block .block_content a.button_large { margin: 0 0 0 -3px }
div.block .block_content {
	min-height: 16px
}
div.block li {
	padding: 0.2em 0 0.2em 0em;
	list-style-position: outside
}
div.block a {
	color: #595a5e;
	text-decoration: none
}

.list_item {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  margin-top: 10px;
}

.codespot_quick_link .list_item.last p{border:none}

/* block exclusive */


.text_s, .text_s:hover {

  height: 27px;
  width: 253px;
  float: left;
  line-height: 100%;
  padding: 0px 5px 0px;
  color: #999;
  border: 0px solid #B9B9B9;
  background: url(images/input.gif) repeat-x;

}

.button_s, .button_s:hover {
  background: url(images/search.gif) no-repeat;
  height: 27px;
  width: 27px;
  float: left;
  cursor: pointer;
  border: 0px;
  margin-right: 0px;
  color: #fff;
  font-weight: normal;
}

.menu
{
  height: 45px;
  border: 0px solid #FFC300;
  text-transform: uppercase;
  background: none;
  float: right;
  margin: 16px 0px 0px;
}

div.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 45px;
  cursor: pointer;
  float: left;
  border: 0px solid #990000;
  font-size: 12px;
  font-weight: bold;
}

div.menu ul li {
  display: inline;
  float: left;
  cursor: pointer;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}


div.menu ul li a {
  color: #fff;
  text-decoration: none;
  float: left;
  outline: none;
  cursor: pointer;
  border: 0px solid #00FF33;
  text-align: center;
  background: none;

}

div.menu ul li a span {
   padding: 10px 10px 10px;
  height: 25px;
  float: left;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  border: 0px solid #CECECE;
  background: none;

}

div.menu ul li a span.icon_menu,div.menu ul li a:hover span.icon_menu,div.menu ul li a.current span.icon_menu
{
  float: left;
  padding: 7px 2px 5px 12px;
  height:45px;
}

div.menu ul li a:hover {
  outline: none;
  cursor: pointer;
  color: #6A84B9;
  background: none;
  text-decoration: none;

}

div.menu ul li a:hover span {
  padding: 10px 10px 10px;
  height: 25px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  color: #6A84B9;
  background: none;
}

div.menu ul li a.current{
  outline: none;
  cursor: pointer;
  background: none;
  color: #6A84B9;
  background: none;
  text-decoration: none;
}

div.menu ul li.space_menu{
  padding-top: 0px;
  margin: 0px;
  width: 2px;
  font-size: 1px;
  float: left;
  height: 45px;
  background: none;
}

div.menu ul li a.current span{
  padding: 10px 10px 10px;
  height: 25px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  color: #6A84B9;
  background: none;

}

/* this is the clipping region for the menu. it's width and height get set by script, depending on the size of the items table */

.transMenu {
  position: absolute;
  overflow: hidden;
  left: -1000px;
  top: -1000px;
  border: 0px solid #333;
}/* this is the main container for the menu itself. it's width and height get set by script, depending on the size of the items table */

.transMenu .content {
  position: absolute;
  left: 0px;
  border: 0px dotted #039250;
  padding: 0px;
  margin: 0px;

}/* this table comprises all menu items. each TR is one item. It is relatively positioned so that the shadow and background transparent divs can be positioned underneath it */

.transMenu .items {
  position: relative;
  left: 0;
  z-index: 10;
  text-align: left;
}

.transMenu .top .items {
  border-top: none;
  text-align: left;
  text-transform: none;
}/* each TR.item is one menu item */


.transMenu .background {
  position: absolute;
  left: 0px;
  z-index: 1;
  opacity: 0.85;
  -moz-opacity: .85;
  filter:alpha(opacity=85);
}/* same concept as .background, but this is the sliver of shadow on the right of the menu. It's left, height, and background are set by script. In IE5/mac, it uses a PNG */

.transMenu .shadowRight {
  position: absolute;
  z-index: 3;
  top: 3px;
  width: 2px;
  -moz-opacity: .4;
  opacity: 0.4;
  filter:alpha(opacity=40);
}/* same concept as .background, but this is the sliver of shadow on the bottom of the menu. It's top, width, and background are set by script. In IE5/mac, it uses a PNG */

.left {
  float: left;
  width: 236px;
  overflow: hidden;
  margin-left: 2px;
}

.menu_left{
  margin: 0px 0px 0px 0px;
  list-style-type: none;
  list-style-image: none;
  overflow: hidden;
  border: 0px solid #01AA19;
  padding: 0px;
  text-align: left;
}

.menu_left li{
  padding: 0px;
  margin: 1px 0px 1px;
}

.menu_left li.li_last{
  padding: 0px;
  margin: 0px;

}

.menu_left li a {
    background: url("images/menu/icon_menu_left.jpg") no-repeat scroll 5px 8px transparent;
    color: #0E97DD;
    float: left;
    padding: 6px 20px;
    text-decoration: none;
    width: 200px;
    border: 0px solid #000;
}

.menu_left li a:hover{
    background:#6A84B9 url(images/menu/icon_menu_left_hover.jpg) 5px 12px no-repeat;
    color: #fff;
    float: left;
    padding: 6px 20px;
    text-decoration: none;
    width: 200px;
}

.menu_left li a.current{
    background:#6A84B9 url(images/menu/icon_menu_left_hover.jpg) 5px 12px no-repeat;
    color: #fff;
    float: left;
    padding: 6px 20px;
    text-decoration: none;
    width: 200px;
}

.menu_left li a.current:hover{
    background:#6A84B9 url(images/menu/icon_menu_left_hover.jpg) 5px 12px no-repeat;
    color: #fff;
    float: left;
    padding: 6px 20px;
    text-decoration: none;
    width: 200px;
}
.bottom_menu_left {
  margin: 0px;
  padding: 0px 10px 0px;
  text-align: right;
  background: url(images/menu/buttom_menu_left.jpg) no-repeat;
  height: 25px;
  color: #fff;
}
.bottom_menu_left a:link, .bottom_menu_left a:visited {
  color: #fff;
  text-decoration: underline;
}

.box {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  border: 0px solid #343434;
  width: 240px;
}

.box_header {
  background: url(images/menu/top_menu_left.jpg) no-repeat;
  height: 10px;
  font-size: 1px;
}

.box_middle {
  /*background: url(images/menu/middle_menu_left.jpg) repeat-y;*/
  padding: 5px 10px 5px;
  text-align: left;
  overflow: hidden;
  min-height: 150px;
}

.box_bottom {
 /* background:url(images/menu/botton_menu_left.jpg) no-repeat; */
  height: 10px;
  font-size: 1px;
}

.right {
  float: right;
  width:690px;
  overflow: hidden;
  text-align: justify;
  line-height: 160%;
  padding: 0px 0px 0px;
}

.right .picture {
  float: left;
  width: 185px;
}
.indent_img {
  float: left;
}
.indent_img .title, .indent_img {
  color: #6A84B9;
  font-size: 16px;
  line-height: 120%;
  font-weight: normal;
}
.indent_img .link, .indent_img {
  font-size: 12px;
  font-weight: normal;
}
.item_t {
  padding: 3px 5px 3px;
  border-bottom: 1px dotted #ccc;
}
.item_t a:link,.item_t a:visited {
  text-decoration: none;
  color: #000;
}

.item_t a:hover {
  text-decoration: none;
  color: #FF8400;
}

.sideBox {
    width: 234px;
    border: 0px solid #000;
    overflow: hidden;
    margin-bottom: 10px;
}

.sideBox h3, .box_main_header2,.title_header {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #323232;
    border-bottom: 1px solid #1E1E1E;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 150%;
}


.box_main_top {
  /*background: url(images/hungphu/box_main_top.jpg) no-repeat;*/
  height: 7px;
  font-size: 1px;
}

.box_main_middle {
  /*background: url(images/hungphu/box_main_middle.jpg) repeat-y;*/
  padding:5px 10px 5px;
  overflow: hidden;
  line-height: 150%;
}

.box_main_bottom {
  /*background: url(images/hungphu/box_main_bottom.jpg) no-repeat;*/
  height: 7px;
  font-size: 1px;
  margin-bottom: 20px;
}

.box_top {
  /*background: url(images/hungphu/box_top.jpg) no-repeat;*/
  height: 7px;
  font-size: 1px;
}

.box_middle {
 /* background: url(images/hungphu/box_center.jpg) repeat-y;*/
  padding:0px 5px 0px;
}

.box_bottom {
  /*background: url(images/hungphu/box_bottom.jpg) no-repeat;*/
  height: 7px;
  font-size: 1px;
}


.chat {
  text-align: center;
}



.sideCont, .support, .sideCont1 {
    margin-left: 0px;

}

.support .phone {
    background: url("images/hungphu/icon_phone.png") no-repeat scroll 8px 0 transparent;
    height: 30px;
    padding-left: 48px;
}
.support .phone, .support .email, .support .email a {
    color: #373737;
    font-size: 14px;
}
.support .email {
    background: url("images/hungphu/icon_mail.png") no-repeat scroll 12px 1px transparent;
    height: 30px;
    padding-left: 40px;
}
.support .phone, .support .email, .support .email a {
    color: #373737;
    font-size: 14px;
}
.sideCont ul {
    margin-left: 6px;
    padding: 0;
}
.sideCont li {
    background: url("images/hungphu/bg_li.png") no-repeat scroll 0 0 transparent;
    height: 42px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sideCont a {
    color: #373737;
    display: block;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 12px 0 0 25px;
    text-decoration: none;
}
.sideCont a:hover {
    color: #0764AC;
    text-decoration: none;
}

/****** phan trang *************/
div.paging_meneame{
  margin: 0px;
  color: #515866;
  padding: 0px 8px 0px 8px;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 2px;
  float: right;
}

div.paging_meneame a {
  float: left;
  width: 19px;
  border: #515866 0px solid;
  margin-left: 1px;
  text-decoration: none;
  color: #707070;
  height: 18px;
  padding: 2px 5px 2px;
}

div.paging_meneame a:hover {
  float: left;
  width: 19px;
  padding: 2px 5px 2px;
  border: #E77918 0px solid;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background: url(images/hungphu/phantrang.jpg) no-repeat;
}

div.paging_meneame a:active {
  float: left;
  width: 19px;
  padding: 2px 5px 2px;
  border: #E77918 0px solid;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background: url(images/hungphu/phantrang.jpg) no-repeat;
}

div.paging_meneame span.paging_current {
  float: left;
  width: 19px;
  padding: 2px 5px 2px;
  border: #E77918 0px solid;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background: url(images/hungphu/phantrang.jpg) no-repeat;
}

div.paging_meneame span.paging_disabled {
  float: left;
  width: 18px;
  border: #999 0px solid;
  font-weight: normal;
  display: none;
}
/****** end phan trang ******/

.line_x {
  /*background: url(images/hungphu/line.gif) repeat-x; */
  margin: 10px 0px 10px;
  height: 2px;
  border-bottom: 1px dotted #ccc;
}

.title_pro {
  color: #008BD1;
  font-size: 25px;
  float: left;
  font-weight: bold;
  margin-bottom: 10px;
}
.image_pro {
  float: right;
  margin: 0px 10px 0px;
  position: relative;
}
.chailon {
    position: absolute;
    right: -59px;
    top: -7px;
    display: none;
}

.chai1lit {
    position: absolute;
    right: 47px;
    top: -45px;
    display: none;
}

.chai558 {
    position: absolute;
    right: 31px;
    top: -45px;
    display: none;
}
.chai358 {
    position: absolute;
    right: 20px;
    top: -53px;
    display: none;
}

.inputSendmail {
  background: url(images/hungphu/guidi.jpg) no-repeat;
  width: 54px;
  height: 22px;
  border: 0px;
  cursor: pointer;
}
.cmdnhaplai {
  background: url(images/hungphu/nhaplai.jpg) no-repeat;
  width: 67px;
  height: 22px;
  cursor: pointer;
  border: 0px;
}


.indent_img .title a:link, .indent_img .title a:visited, .link a:link,.link a:visited{
  color: #6A84B9;
  text-decoration: none;
}
.indent_img .title a:hover, .link a:link:hover {
  text-decoration: underline;
}
.indent_img p {
  padding: 10px 0px 5px;
  margin: 0px;
  color: #717171
}


.transMenu .shadowBottom {
  position: absolute;
  z-index: 1;
  left: 3px;
  height: 2px;
  -moz-opacity: .4;
  opacity: 0.4;
  filter:alpha(opacity=40);
}/* this is the class that is used when the mouse is over an item. script sets the row to this class when required. */

.transMenu .item {
  color: #B4B4B4;
  font-size: 12px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  cursor: hand;
  text-transform: none;
  text-align: left;
  background: url(images/menu/menu_drop.jpg) left bottom repeat-x;
  font-weight: bold;


}/* this DIV is the semi-transparent white background of each menu. the -moz-opacity is a proprietary way to get transparency in mozilla, the filter is for IE/windows 5.0+. *//* we set the background color in script because ie mac does not use it; that browser only uses a semi-transparent white PNG that the spacer gif inside this DIV is replaced by */


.transMenu tr.item:hover {
  color: #fff;
  background: url(images/menu/drop_hover.jpg) left bottom repeat-x;
}
/* this is either the dingbat that indicates there is a submenu, or a spacer gif in it's place. We give it extra margin to create some space between the text and the dingbat */


.transMenu .item img {
  margin-left: 0px;
  padding-bottom: 2px;
}

a.font_title:link, a.font_title:visited {
  color: #FFFFFF;
  outline: none;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

a.font_title:hover {
  color: #FFFFFF;
  outline: none;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-align: left;
}

a.font_title_select:link, a.font_title_select:hover, a.font_title_select:visited {
  color: #D40007;
  outline: none;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
}

.bullet {
  padding-right: 10px;
  margin-top: 10px;
  position: relative;
  top: 3px;
  text-align: left;
}

b.item_con{
  padding-left: 8px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: normal;
}

div.submenu{
  background: #f3f3f3;
  height: auto;/*Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/
  text-align: left;
}

.submenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0px;
  float: left;
  width: 100%;
  padding-top: 0px;
}

.submenu ul li{
  font-size: 12px;
  color: #264595;
  border-bottom: 1px solid #ddd;
}

.submenu ul li a.a_item_menu_cp{
  color: #333;
  background: #fff url(images/bullet_menu_cp.jpg) no-repeat 15px center;/*custom bullet list image*/
  display: block;
  padding: 6px 0;
  padding-left: 28px;/*link text is indented 19px*/
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}

.submenu ul li a.a_item_menu_cp:hover{
  color: #FFF;
  font-weight: bold;
  background: #F40 url(images/menu/icon_menu_c.jpg) no-repeat 15px center;/*custom bullet list image*/
}

a.a_menu_cp_curent:link, a.a_menu_cp_curent:hover, a.a_menu_cp_curent:visited{
  color: #FFF;
  background: #F40 url(images/menu/icon_menu_c.jpg) no-repeat 15px center;/*custom bullet list image*/
  display: block;
  padding: 6px 0;
  padding-left: 28px;/*link text is indented 19px*/
  text-decoration: none;
  border-bottom: 0px solid #dadada;
  font-size: 12px;
  font-weight: bold;
}
.middle_main {
  width: 930px;
  margin: 0 auto;
  border: 0px solid #000;
  margin-bottom: 0px;
  margin-top: 20px;
}

.box_main {
  float: left;
  width: 210px;
  padding: 0px;
  margin-right: 0px;
  text-align: left;
  overflow: hidden;
  border: 0px solid #ccc;
  margin: 5px;
}
.descript_box_main {

}
.descript_box_main h1 {
  padding: 0px;
  font-size: 15px;
  margin: 0px;
  color: #4A4A4A;
  line-height: 120%;
  text-align: center;
}

span.detail{
  color: #0087CE;
  float: right;
}

.box_bottom_main {
  font-size: 1px;
  border: 0px;

}


span.detail a:link, span.detail a:visited {
  color: #0087CE;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

span.detail a:hover {

  text-decoration: underline;
}

.title_cat {
  color: #0F96DC;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 15px;
}
.title_cat2 {
  color: #717171;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 2px;
}
.cont_ad {
  line-height: 150%;
  color: #717171;
  font-weight: normal;
  margin-bottom: 15px;
}

/***feedback**************/
.lblError,.saodo{color:#f00;font-weight:normal;padding-left:3px;padding-top:2px;text-align:left;text-decoration:none}
.right_row1{float:left;font-weight:normal;height:20px;margin-bottom:2px;margin-top:2px;padding-left:10px;text-align:left;width:170px; border: 0px solid #00FF33}
.right_row2{float:left;font-weight:normal;margin-bottom:2px;margin-top:2px;padding-left:5px;text-align:left;border: 0px solid #00FF33}
.row2 td,.row1 td{border-bottom:1px solid #EBF1F6;border-right:1px solid #EBF1F6;padding:3px 8px;text-align:left;width:80%}
.row2 td.col,.row1 td.col{font-weight:bold;width:20%}
em.error{background:url("images/unchecked.gif") no-repeat 0px 0px;margin-left:3px;padding-left:16px; color:red;}
em.success{background:url("images/checked.gif") no-repeat 0px 0px;margin-left:3px;padding-left:16px}


.descript_box_main p {
  padding: 0px;
  margin: 0px;
  font-size:11px;
  color: #717171;
  text-align: justify;
}


.picture_main {
  width: 200px;
  border: 1px solid #D8D8D8;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  margin-bottom: 8px;
  padding: 2px;
}

.picture img {
   border: 1px solid #D8D8D8;
   border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  padding: 2px;
}


.box_xh {
  float: right;
  width: 248px;
  border: 0px solid #000;
  min-height: 100px;
  text-align: left;
}
.item_xh {
  background: url(images/box_main/bg_box2.jpg) no-repeat;
  height: 42px;
  margin-bottom: 10px;
  padding: 13px;
  color: #3B5998;
  font-size: 14px;
}

.footer {
  background: #FAFAFA url(images/designercollection/bkg_footer.jpg) top left repeat-x;
  height: auto;
  margin: 0px;
  min-height: 300px;
}

.main_footer{overflow:hidden;margin:0 auto;padding-bottom:100px;}

.codespot_alphabets{overflow:hidden;padding:15px 0;text-transform:uppercase;font-weight:400;border-bottom:1px solid #e6e6e6;margin-bottom:20px;}
.codespot_alphabets .alphabet,.codespot_alphabets  ul.list_alphabet{width:auto;float:left; list-style-image: none;}
.codespot_alphabets .alphabet{margin-right:0px;}
.codespot_alphabets  ul.list_alphabet li{width:auto;float:left;margin-left:15px; list-style-image: none;}

.codespot_sample_footer{padding:20px 0 30px;border-bottom:1px solid #e6e6e6;overflow:hidden; text-align: left;}
.codespot_sample_footer  .codespot_left{width:border-right:0px solid #000;padding-right:4px; float: left; width:48%; margin-right: 15px;}
.codespot_sample_footer  .codespot_left img{float:left;padding-right:20px;}
.codespot_sample_footer  .codespot_right{width:155px;float:left;padding-left:25px;}
.codespot_sample_footer h4,.footer_roedok .block_redok h4,.footer_categories h4{font-weight:400;text-transform:uppercase;margin:0 0 10px}
.codespot_sample_footer  h5{color:#464646;font-size:14px;margin-bottom:7px;font-weight:400}
.codespot_sample_footer  .codespot_right img{margin:10px 5px 0 0}

.codespot_myspecial_home{width:183px;float:left;margin-left:3px;}
.codespot_myspecial_home .products li{width:181px;float:left;height:253px;position:relative;border:1px solid #d5d5d5;margin-bottom:5px;background:#fafafa;text-align:center}
.codespot_myspecial_home .products li a.product_image{display:block;text-align:center;background:#fff;border-bottom:dotted 1px #d5d5d5;margin-bottom:5px;}
.codespot_myspecial_home .products li a.product_image img{max-height:145px;}
.codespot_myspecial_home .products li .label_specials{font-weight:400;text-transform:uppercase;color:#cc4c51;}
.codespot_myspecial_home .products li h3{margin:5px 0 2px;padding:0 5px}
.codespot_myspecial_home .products li h3 a{color:#1e1e1e;font-weight:400;font-size:11px;}
.codespot_myspecial_home .products li h3 a:hover{text-decoration:none;color:#6A84B9}
.codespot_myspecial_home .products li  .category_name{margin:0 0 8px!important}
.codespot_myspecial_home .products li span.price{color:#cc4c51;}
.codespot_myspecial_home .products li.last_item{margin:0}
.topseller h5.name_cat{font-size:18px;font-weight:400;text-transform:capitalize;padding:5px 0 10px;margin-top:25px;}
.topseller h5.name_cat_1{color:#6e4b8f;margin-top:0}
.topseller h5.name_cat_2{color:#cb4239}
.topseller h5.name_cat_3{color:#89ac58}
.topseller h5.name_cat_4{color:#69a3b3}
.topseller h5.name_cat_5{color:#c6a82e}
.topseller  li  span.price{text-align:left;color:#1e1e1e}
.topseller  li.last_item{margin-bottom:5px}
.tags_block{margin-top:40px;}
.codespot_sample p.color {color:#6e4b8f;margin:2px 0}
.codespot_sample p.color a{color:#6e4b8f;}
.codespot_sample p.color a:hover{text-decoration:underline}

.category_name,.category_name  a{color:#969696!important;font-weight:400!important;margin:3px 0 8px!important;text-transform:capitalize}
.category_name  a:hover{color:#6A84B9!important}

.topseller li a.product_image {
    width: 73px;
    height: 100px;
    border: 1px solid #EDEDED;
    float: left;
    margin-right: 15px;
    text-align: center;
}

.price-discount { text-decoration: line-through;color:#969696;margin-right:10px ;font-weight:700;font-size:12px;}
.price-pretax { color: gray }
.price-ecotax { color: #488c40 }
img.icon { margin-right: 0.5em; vertical-align: middle }
.weight-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.volume-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.unity-price {
	font-size: 0.75em;
	text-align: right;
	color: gray
}

.price, .price-shipping, .price-wrapping {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap
}

.cs_featured {
  clear: both;
  text-align: center;
  border: 0px solid #000;
}

.cs_featured h5{padding:20px 0;margin:0;color:#000;font-size:18px;text-transform:capitalize;font-weight:400;}
.cs_featured ul.list_featured  li.first_item{width:342px;min-height:616px;border:1px dotted #d5d5d5;padding:10px;display:block}
.cs_featured .homecategoryfeature  .block_content{width:727px;overflow:hidden;position:relative}
.cs_featured .homecategoryfeature  .block_content ul.list_featured{width:730px;}
.cs_featured ul.list_featured  li{padding-bottom:8px;margin-bottom:20px;}
.cs_featured ul.list_featured  li.first_item h3 a{font-size:18px;font-family:"HelveticaRegular";}
.cs_featured ul.list_featured  li.first_item  span.price{font-size:18px;}

.cs_popular li.list_popular .product, .cs_featured ul.list_featured li {
    float: left;
    width: 141px;
    position: relative;
    height: auto;
    padding: 0 10px 10px;
    border: 1px solid #D5D5D5;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    min-height: 304px;
    margin-right: 5px;
}

.item_product {
float: left;
width: 146px;
position: relative;
height: auto;
padding: 0 5px 20px;
border: 1px solid #D5D5D5;
margin-bottom: 20px;
text-align: center;
overflow: hidden;
margin-right: 5px;
}

.pro_end {
  color: #CC4C51;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0px 5px;
  font-weight: bold;
}

span.reduction{position:absolute;top:10%;right:20px;background:url("img/bkg_reduction.png") no-repeat top left;padding:8px 5px;width:42px;height:37px;color:#fff;text-align:center;font-weight:400;text-shadow:1px 1px 0 #cc7275;font-size:12px;}

span.reduction2 {
  right: 0px;
  top: 5%;
}
span.new {
  position: absolute;
  top: 5%;
  left: 5px;
  background: none;
}
.codespot_myspecial_home span.reduction{right:-24px;}
span.reduction span{font-size:16px;display:block}
.codespot_home_adv{clear:left;width:100%;margin:15px 0 1px;float:left;border-bottom:1px solid #000;padding-bottom:30px;}
.codespot_home_adv li{width:auto;float:left;border-right:1px solid #666;padding:0 20px;}
.codespot_home_adv li.last{border-right:none;margin-right:0;padding-right:0}
.codespot_home_adv li.first{}
.cs_popular{clear:both;border-top:1px solid #000;padding-top:20px;text-align:center;}
.cs_popular h4,.cs_featured h4{color:#323232;font-weight:400;text-transform:uppercase}

.footer_roedok{overflow:hidden;padding:20px 0;border-bottom:1px solid #e6e6e6; text-align: left;}
.footer_roedok .block_redok{float:left;padding-right:25px;width:155px;}
.footer_roedok .block_redok.block_1{width:200px;padding-right:30px;}
.footer_roedok .block_redok.block_5{padding-right:0}
.footer_roedok .block_redok.block_1 h3.logo{margin:0 0 25px;}
.footer_roedok .block_redok.block_1 p{margin-bottom:10px;}
.footer_roedok .block_redok.block_1 p a{font-weight:700}
.footer_roedok .block_redok ul li{margin-bottom:5px;}
.footer_roedok .block_redok ul.last{margin-top:20px;}
.footer_roedok .block_redok.block_5 p.top{border-bottom:1px solid #e6e6e6;padding-bottom:10px;}
.footer_roedok .block_redok.block_5 p{margin-bottom:10px;}
.footer_categories{border-top:1px solid #e6e6e6;overflow:hidden;margin:1px 0 15px;padding:20px 0 30px;border-bottom:1px solid #e6e6e6;text-align:center}
.footer_categories h4,.footer_categories ul li a{color:#969696}
.footer_categories ul{padding:0 35px;}
.footer_categories ul li{width:auto;display:inline;border-right:1px solid #d9d9d9;padding:0 7px 0 0;margin:0 7px 5px 0;line-height:18px;}


.copyright {
  margin-top:10px;
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;
  color: #333333;
  float: left;
  width:60%;
}
.designby {
  float: right;
  width: 25%;
  text-align: right;
  padding-right: 10px;
  margin-top: 15px;
  color: #3333;
}


.menu_footer {
  width: 700px;
  color: #fff;
  margin: 0 auto;
  text-align: left;
  float: left;
  border: 0px solid #000;
  padding-left: 10px;
}

.menu_footer a:link,.menu_footer a:visited{
  color: #fff;
  text-decoration: none;
  padding: 0px 0px 0px;
}

.menu_footer a:hover{
  color: #88D7FE;
  text-decoration: none;
  padding: 0px 0px 0px;
}
.visited {
  float: right;
  width:230px;
  padding-right: 20px;
  margin-top: 10px;
}

.sovisit{
  float: left;
  background: url(images/hungphu/bg_so.jpg);
  width: 8px;
  height: 14px;
  color: #fff;
  font-weight: bold;
  padding: 0px 3px 0px;
}

.link_user {
  float: right;
  height: 25px;
  text-align: right;
  padding: 0px;
  border: 0px solid #fff;
  margin-top: 5px;
  width:500px;

}
.link_user span {
  padding: 8px 0px 0px;
  border: 0px solid #fff;
  float: left;
}


.link_user a:link,.link_user a:visited {
  color: #9C9FA0;
  text-decoration: none;
}

#content_msg {
  text-align: center;
}

.txtdo {
  color: red;
}

.link_user a:hover {
  color: #000;
  text-decoration: none;
}

.img_cart {
  cursor: pointer;
}
input {
  padding: 3px 10px 3px;
}
.input_quantity {
  width: 30px;
  padding:0px;
  margin:0px;
}

.input_addcart {
  background: #003366;
  color: #fff;
  cursor: pointer;
  border: 0px;
  padding: 2px;
  margin: 0px;
}

#content_msg {
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  text-align: center;
  height: 30px;
  border: 0px solid #000;
}

.content_checkout {
  background:#E0DFDC;
  padding: 5px;
}
.content_login{
  background: #fff;
  padding: 10px;
}
.content_login_colum {
  float: left;
  width:47%;
  border:0px solid #0cd;
}

.content_login_colum_right{
  float: right;
}
.title_checkout {
  font-size: 16px;
  font-weight: bold;
  color: #8CA1A1;
}

.title_checkout span {
  float: right;
}

.title_checkout span a
{
  font-size: 12px;
  text-decoration: underline;
  color: #B20101;
}


.step-container {
  background: #fff;
  padding: 10px;
  margin: 5px 0px 5px;
  border: 0px solid red;
}

.subheader, .subheader-first-item {
    color: #2D2E2E;
    border-bottom: 1px dotted #2D2E2E;
    padding: 13px 0 5px 0;
    margin-bottom: 10px;
    font: bold 127% Arial, Helvetica, sans-serif;
}

.button, .button-action, .button-big {
    background: #E40141;
    height: 17px;
    float: right;
    padding: 5px 10px 5px;
}
.button a:link,.button a:visited {
  color: #fff;
}

.address_colum{
  float: left;
  width: 49%;
}

.address_colum_right {
  float: right;
}

.payment_shipping_colum {
  float: left;
  width: 55%;

}


.payment_shipping_colum_right {
  float: right;
  width: 40%;

}

.title-extra {
  float: right;
}
.review {
   border: 1px solid #EBF1F4;
   margin-top: 6px;
}

.table {
    border: 2px solid #F1F4F6;
    border-collapse: separate;
    border-spacing: 0px;
    overflow: hidden;
}

.table tr {
  background-color: white;
}

.table-row, tr.table-row, td.table-row {
   background-color: #F1F4F6;
}

.review td {
    border: 0 none;
    padding: 11px 21px;
}

.content_total_price {
  background: #F2F9DB;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}
.content_total_price p {
  margin: 5px 0px 5px;
  padding: 0px;
}
.total_code {

  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;

}

.button-submit-big, .button-big {
    background: #FF4F01 url('images/schnap/big_but_left.png') no-repeat left top;
    padding-left: 3px;
    height: 29px;
    float: left;
}

.button-submit-big input, .button-big a {
      font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
      background: url('images/schnap/big_but_right.png') no-repeat right top;
      padding: 7px 19px 8px 7px;
      height: 29px;
      line-height: 16px;
      border: 0px;
      color: #fff;
      margin-right: 0px;
}

.dathang {
    background: url(images/designercollection/button.jpg) no-repeat;
    padding: 7px 30px 7px;
    border: 0px;
    color: #fff;
    margin-right: 0px;
    float: right;
    text-align: center;
    cursor: pointer;
}


