.section_wrapper{
	text-align:left;
}
.clear,#clear{
  clear: both;
  line-height: 0;
  font-size: 0;
  height: 0
}

.pro_c  {
  line-height: 160%;
  text-align: justify;
  font-size: 13px;
  padding:20px 0px 20px;
}
.content_menu{
  height: 165px;
  width:980px;
  margin: 0 auto;
  border: 0px solid red;
  text-align: left;
}/********************/

/***feedback**************/
.lblError,.saodo{color:#f00;font-weight:normal;padding-left:3px;padding-top:2px;text-align:left;text-decoration:none}
.right_row1{float:left;font-weight:normal;height:20px;margin-bottom:2px;margin-top:2px;padding-left:10px;text-align:left;width:170px; border: 0px solid #00FF33}
.right_row2{float:left;font-weight:normal;margin-bottom:2px;margin-top:2px;padding-left:5px;text-align:left;border: 0px solid #00FF33}
.row2 td,.row1 td{border-bottom:1px solid #EBF1F6;border-right:1px solid #EBF1F6;padding:3px 8px;text-align:left;width:80%}
.row2 td.col,.row1 td.col{font-weight:bold;width:20%}
em.error{background:url("images/unchecked.gif") no-repeat 0px 0px;margin-left:3px;padding-left:16px; color:red;}
em.success{background:url("images/checked.gif") no-repeat 0px 0px;margin-left:3px;padding-left:16px}

#Top_bar .menu > li ul {
	width:240px;
}

.right_row2 input[type="text"] {
	border-color:none;
}





